@import 'tailwindcss';
@plugin '../../hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

/* Container pagination */
.swiper-pagination {
  @apply !relative mt-6 flex justify-center;
}

:root {
  --swiper-theme-color: #ff6b00;
  --swiper-navigation-color: #111111;
  --swiper-pagination-color: #111111;

  --red-light: #e70303;
}
